{:basics
 {:name "Ag Ibragimov"
  :label "Experienced Software Developer"
  :email "agzam.ibragimov@gmail.com"
  :location {:city "Little Elm"
             :state "TX"
             :zipcode "75068"}
  :profiles [{:network "LinkedIn"
              :url "https://www.linkedin.com/in/agzam"
              :username "agzam"
              :icon "linkedin-icon.svg"}
             {:network "GitHub"
              :url "https://github.com/agzam"
              :username "agzam"
              :icon "github-icon.svg"}
             {:network "Home"
              :url "https://maps.app.goo.gl/f3VXCWkkptwUMcxA9"
              :label "Little Elm, TX, 75068"
              :icon "home.svg"}]
  :summary {:title "Summary"
            :bullet-points? false
            :content
            [:p (str "Full-stack Developer and Generalist, proficient in a wide range of programming languages, "
                     "with a proven track record in building solutions - web and mobile apps, cloud services "
                     "for various industries ranging from Cybersecurity and Fintech to Bioinformatics and Entertainment. "
                     "Adept at working in diverse teams both on-site and remotely, with a history of taking on leadership roles. "
                     "Passionate about productivity enhancement and automation.")]}
  :skills
  [:ul.skills
   [:li
    [:p
     [:span.label "Languages:"]
     [:span (str "Clojure/Clojurescript, JavaScript/Typescript,  "
              "Python, Java, C#/F#, Lua/Fennel, SQL/Datalog,  "
              "Common Lisp/Elisp, Golang, and Ruby.")]]]
   [:li [:span.label "Front-End:"]
    [:p (str "HTML5; CSS, including preprocessors such as SASS,   "
             "LESS, and Stylus; frameworks like Tailwind, MUI, and Bootstrap;   "
             "transitions and animations.  ")]
    [:p (str "DataViz - D3, C3, VegaLite.")]
    [:p (str "WebAPIs - DOM, Console, Web Animation, Notification, "
             "Canvas, Web Storage, WebSockets, Geolocation, "
             "WebRTC, History, Clipboard, etc.")]
    [:p (str "Frameworks: React, Angular, Next.")]]
   [:li
    [:span.label "Back-End:"]
    [:p (str "Postgres, Elasticsearch, Couchbase, CockroachDB, "
             "XTDB, Kafka, RabbitMQ, Redis, Docker, K8s, Nix, min.io, ")]
    [:p (str "AWS - S3, SQS, DynamoDB, EC2, ECS, EKS, Lambda, etc.")]
    [:p (str "CircleCI, Jenkins, Concourse, GitHub Actions.")]]
   [:li
    [:span.label "Architecture & Design:"]
    [:p (str "Microservices, Polylith, SOA, "
             "Serverless, n-tier, MVC, MVVM, DDD, CQRS, "
             "Event Sourcing, Rate Limiting, Caching, etc.")]]
   [:li
    [:span.label "Testing:"]
    [:p (str "Cypress, Jest, Karma, Mocha, Chai, Jasmine, "
             "Nightwatch, Puppeteer, Selenium,")]
    [:p (str "clojure/test.check - generative, simulation "
             "and concurrent testing, etc.")]]
   [:li
    [:span.label "Operating Systems:"]
    [:p (str "Linux - Ubuntu, Debian, Alpine, Fedora, CentOS, Arch; "
             "shells and command-line utilities.")]
    [:p (str "Windows - PowerShell, .NET, IIS, WPF, AD, WSL;")]
    [:p (str "OSX - Applescript/JXA, Automator;")]]
   [:li
    [:span.label "AI Tools:"]
    [:p (str "OpenAI API, Whisper.cpp, Ollama.")]]]}

 :work
 {:title "Professional experience"
  :prior-experience-not-provided-note
  (str "In order to keep it short and relevant, jobs prior to 2012 are not listed; a comprehensive list can be provided upon request. "
       "Professional experience includes projects such as: "
       "high-frequency trading app, "
       "air cargo company project in Dubai, "
       "TV commercial monitoring suite for a state broadcast TV company, "
       "hotel management ERP system, and more.")
  :content
  [{:company "Command Zero"
    :website "https://www.cmdzero.io"
    :industry "Cybersecurity"
    :location "Austin,TX/Remote"
    :position "Senior Software Developer"
    :start "Oct 2023"
    :end "Jan 2024"
    :highlights [[:p "Cyber threat intelligence and digital forensics tool."]
                 [:ul
                  [:li "Enhanced performance of CockroachDB-driven backend."]
                  [:li "Integrated various metrics into Prometheus/Grafana."]
                  [:li "Explored architectural redesign ideas using Polylith."]]]
    :keywords [:clojure
               :cockroachdb
               :jvm
               :aws
               :polylith]
    :supervisor {:name "Alexander Saint Croix"
                 :links ["https://www.linkedin.com/in/saintx/"]}}
   {:company "Cisco"
    :website "https://security.cisco.com"
    :industry "Cybersecurity"
    :location "San Jose,CA/Remote"
    :position "Senior Software Developer"
    :start "June 2020"
    :end "Oct 2023"
    :highlights [[:p "XDR (previously known as SecureX) - Cisco's famed cybersecurity threat detection and response platform."]
                 [:ul
                  [:li (str "Worked on various parts of the system, "
                            "including the CTIA and CTIM - Cisco Threat Intelligence API "
                            "and the model; and project IROH  (Incident Response Orcestration Hub)")]
                  [:li (str "Improved Elasticsearch stores; "
                            "created different types of integrations with third party services "
                            "such as Palo Alto Cortex and Cybereason.")]
                  [:li (str "Built a portal for Cisco TAC (Technical Assistance Center), "
                            "reducing the number of incident escalations by nearly 50%.")]
                  [:li "Designed and developed a management tool for the documentation team."]
                  [:li (str "Participated in an annual hackathon with a unique and unconventional "
                            "project that stood out among over 300 other submissions "
                            "and made it all the way to the finals.")]
                  [:li (str "Enrolled in SANS SEC504 training course - "
                            "\"Hacker Tools, Techniques, and Incident Handling.\"")]]]
    :keywords [:clojure
               :clojurescript
               :react
               :re-frame
               :elasticsearch
               :aws
               :cypress.io
               :docker
               :github_actions
               :graphql
               :jvm
               :next.js
               :node.js]
    :supervisor [{:name "Michael Whitley"
                  :links ["https://www.linkedin.com/in/michaelwhitley/"]}
                 {:name "Guillaume Buisson"
                  :links ["https://www.linkedin.com/in/gbuisson/"]}]}
   {:company "Dividend Finance"
    :website "https://dividendfinance.com"
    :industry "Fintech"
    :location "San Francisco/Hybrid"
    :position "Senior Software Developer"
    :start "Nov 2018"
    :end "May 2020"
    :highlights [[:p (str "Dividend Finance offers residential solar loans, home improvement, "
                          "and PACE financing products.")]
                 [:p (str "The stack consisted of web portals for homeowners and solar "
                          "installers, including a comprehensive API for partners, financial "
                          "institutions, and solar equipment installation companies. ")]
                 [:p (str "Worked on the Clojure-driven API, loosely based on Luminus, "
                          "with Salesforce and PostgreSQL as the systems of record.")]
                 [:p (str "The frontend apps were built in ClojureScript (Re-frame), "
                          "utilizing Material-UI React components, "
                          "and designed to be responsive and usable on desktop and mobile.")]
                 [:ul
                  [:li "Built an improved and revised web-portal."]
                  [:li "Created an audit log system from scratch."]
                  [:li (str "Helped to launch a partnership program with multiple capital providers such as "
                            "Keybank.")]
                  [:li "Implemented internal document warehousing system."]
                  [:li "Vastly improved testing practices and test coverage."]]]
    :keywords [:clojure
               :clojurescript
               :jvm
               :re-frame
               :circleci
               :heroku
               :jenkins
               :postgresql
               :puppeteer
               :rabbitmq
               :react
               :s3
               :salesforce
               :selenium
               :terraform]
    :supervisor {:name "Jeff Madynski"
                 :links ["https://www.linkedin.com/in/jeff-madynski-50b636"]}}

   {:company "Funding Circle"
    :website "https://fundingcircle.com"
    :industry "Fintech"
    :location "San Francisco/Hybrid"
    :position "Senior Software Developer"
    :start "Feb 2016"
    :end "Nov 2018"
    :highlights [[:p (str "Funding Circle is a peer-to-peer lending platform.")]
                 [:ul
                  [:li [:p (str "Built a web portal for FinOps teams to allow them to track "
                                "transactions, monitor deposits, manage reconciliations, etc., "
                                "while maintaining net capital compliance.")]
                   [:p (str "Portal made in ClojureScript, initially using Om.next, "
                            "and later we switched to Re-frame. "
                            "A set of APIs, made with Clojure, was created for the backend. "
                            "Materialized views in PostgreSQL were used, where data "
                            "gets aggregated from Kafka clusters ingested via Kafka Connect.")]
                   [:p (str "Introduced unique concepts on the front end, such as using "
                            "Integrant to compartmentalize UI elements into individual components:  "
                            "specs, styles, and render functions, essentially transforming them  "
                            "into highly versatile \"Lego pieces.\" ")]]
                  [:li "Organized and hosted local meetups."]
                  [:li (str "Multiple \"Best team\" awards. Repeatedly nominated and received the "
                            "\"Employee of the month\" ")]]]
    :keywords [:clojure
               :clojurescript
               :mesos
               :circleci
               :docker
               :honeysql
               :jvm
               :kafka
               :om.next
               :re-frame
               :react
               :rethinkdb
               :ruby
               :ruby_on_rails]
    :supervisor {:name "Charles Reese"
                 :links ["https://www.linkedin.com/in/charlespreese"]}}

   {:company "Mobitor"
    :website "http://www.mobitor.com"
    :industry "Medical Equipment Logistics"
    :location "Walnut Creek, CA"
    :position "Lead Frontend Developer"
    :start "Apr 2015"
    :end "Feb 2016"
    :highlights [[:p (str "Mobitor was a startup specializing in Medical Equipment Logistics. ")]
                 [:p (str "Implemented a web portal for managing medical devices - "
                          "orthopedic and spine surgery implants, "
                          "and supplemental equipment. ")]
                 [:p (str "Used Angular, paired with a Node backend, "
                          "which communicated with a .NET API in C# and MS SQL Server.")]]
    :keywords [:angular
               :babel.js
               :bower
               :coffeescript
               :couchbase
               :docker
               :gulp.js
               :karma
               :node.js
               :postcss
               :protractor
               :rx.js]
    :supervisor {:name "Anton Vyshnyak"
                 :links []}}

   {:company "Invitae"
    :website "https://www.invitae.com"
    :industry "Genomics/DNA sequencing"
    :location "San Francisco"
    :position "Lead Frontend Developer"
    :start "May 2014"
    :end "Apr 2015"
    :highlights [[:p (str "Invitae specializes in diagnostic DNA sequencing.")]
                 [:p (str "Designed and implemented an asset tracking/dashboard web app "
                          "with various charts, graphs, and spreadsheets. "
                          "Angular-based, it was written in Coffeescript and "
                          "supported by a Python backend on Django.")]]
    :keywords [:angular
               :browserify
               :coffeescript
               :d3.js
               :django
               :elasticsearch
               :gulp
               :karma
               :node.js
               :protractor
               :python
               :ramda.js
               :rxjs
               :stylus-css]
    :supervisor {:name "Alex Furman"
                 :links ["https://www.linkedin.com/in/alexfurman"]}}

   {:company "Vevo"
    :website "http://www.vevo.com"
    :industry "Video hosting"
    :location "New York City/San Francisco"
    :position "Senior Software Developer"
    :start "Jan 2012"
    :end "May 2014"
    :highlights [[:p (str "Vevo is the World's Leading Music Video Network.")]
                 [:ul
                  [:li
                   [:p (str "Designed and implemented a cloud-based, task-driven, concurrent, "
                            "and scalable video encoding system.")]
                   [:p (str "Redesigned the entire system from scratch, making it vastly more efficient. "
                            "Benchmarks showed a ten-fold increase in efficiency. ")]]
                  [:li (str "Led a group of developers in re-building Admin Web Site for partners and "
                            "internal use. ASP.net, Angular.js. ")]
                  [:li (str "Implemented Chromecast integration for Google's pilot program, demonstrating its "
                            "compatibility with apps like Vevo. ")]
                  [:li "Built the first Apple TV Vevo App."]
                  [:li "Played major part in redesigning the main website - vevo.com."]]]
    :keywords ["c#"
               "f#"
               :angular
               :asp.net
               :coffeescript
               :dynamo_db
               :javascript
               :ms_sql_server
               :node.js
               :s3
               :sqs
               :typescript]
    :supervisor {:name "Argam DerHartunian"
                 :links ["https://www.linkedin.com/in/argamderhartunian"]}}

   #_{:company "Bunk1.com"
      :website "https://www.bunk1.com"
      :industry "Web services"
      :location "New York City"
      :position "Frontend Developer"
      :start "2011"
      :end "2011"
      :highlights [[:p (str "Bunk1 helps parents stay in touch with kids in summer camps.")]
                   [:ul
                    [:li (str "Designed an aesthetically pleasing and functional calendar widget for the web "
                              "application (ASP.net, jquery).")]
                    [:li (str "Developed an iOS App on Xamarin stack.")]]]
      :keywords ["c#"
                 :asp.net
                 :backbone
                 :javascript
                 :jquery
                 :objective-c
                 :xamarin_tools]
      :supervisor {:name "Eric Natale"
                   :links []}}

   #_{:company "USeDirect"
      :website "https://www.usedirect.com"
      :industry "Integrator"
      :location "Roslyn Heights, NY"
      :position "Application Developer"
      :start "2010"
      :end "2010"
      :highlights [[:p "Is a Software Integrator."]
                   [:p "I have worked on Microsoft Dynamics desktop UI shell (WPF, C#)."]]
      :keywords ["c#" :ms_sql_server :wpf]}

   #_{:company "Freelance"
      :website nil
      :industry nil
      :location "New York City"
      :position "Freelance Programmer"
      :start "2009"
      :end "2009"
      :highlights [[:ul
                    [:li (str "High-frequency trading app for Dimension Capital - fast, responsive, secure "
                              "automated decision-making tool for trading. ")]
                    [:li "QA automation for RI Communications Group."]
                    [:li "Various web projects (Wordpress, PHP, Javascript)."]]]
      :keywords ["c#" :javascript :php :wordpress]}]}

 :projects
 {:title "Personal projects"
  :note "Only brief selection of personal projects, not a comprehensive list"
  :content
  [{:name "Spacehammer"
    :link "https://github.com/agzam/spacehammer"
    :description (str "Keyboard-oriented productivity tool for macOS. "
                      "Allows you to quickly navigate between applications, "
                      "manage volume and music playback; edit any text input in "
                      "your preferred editor, and many more.")}
   {:name "wiktionary-bro.el"
    :link "https://github.com/agzam/wiktionary-bro.el"
    :description (str "A convenient way to look up the etymology of any word.")}
   {:name "mw-thesaurus.el"
    :link "https://github.com/agzam/mw-thesaurus.el"
    :description (str "Merriam-Webster Thesaurus in Emacs.")}
   {:name "browser-hist.el"
    :link "https://github.com/agzam/browser-hist.el"
    :description (str "Search through the browser history in Emacs. "
                      "Opens up possibilities for automating tasks "
                      "such as retrieving all URLs from a page "
                      "or extracting page descriptions.")}
   {:name "youtube-sub-extractor.el"
    :link "https://github.com/agzam/youtube-sub-extractor.el"
    :description (str "Extract subtitles from YouTube videos.")}]}


 :education {:title "Education"
             :content [{:institution "Tashkent University of Information Technologies."
                        :website "https://tuit.uz/en"
                        :area "Engineering"
                        :study-type "Bachelor"
                        :start 1994
                        :end 1998}]}}
