body {
  background: #FFFDF2; /* Old browsers */;
  background: -moz-linear-gradient(left,  #FFFDF2 0%, #FFFDF2 37%, #ffffff 100%); /* FF3.6+ */;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFFDF2), color-stop(37%,#FFFDF2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */;
  background: -webkit-linear-gradient(left,  #FFFDF2 0%,#FFFDF2 37%,#ffffff 100%); /* Chrome10+,Safari5.1+ */;
  background: -o-linear-gradient(left,  #FFFDF2 0%,#FFFDF2 37%,#ffffff 100%); /* Opera 11.10+ */;
  background: -ms-linear-gradient(left,  #FFFDF2 0%,#FFFDF2 37%,#ffffff 100%); /* IE10+ */;
  background: linear-gradient(to right,  #FFFDF2 0%,#FFFDF2 37%,#ffffff 100%); /* W3C */;
}

body {
  font-family: Maven Pro, Sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #4f3f3f;
  line-height: 1.5rem;
}

body .content-container {
  position: relative;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
}

li, p {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.8rem;
  color: #bcab84;
}

.hidden-label {
  font-size: 0.1px;
  line-height: 0.1px;
}

.pdf-link {
  position: absolute;
  top: 1.5rem;
  right: -5rem;
  transform-origin: top left;
  transform: scale(1);
  transition: .3s all ease;
}

.pdf-link:hover {
  transform: scale(1.5);
}

.pdf-link img {
  width: 4rem;
  filter: drop-shadow(3px 3px 3px #bebebe) saturate(0.3);
}

.summary ul {
  text-align: justify;
  list-style: disc;
  padding-inline-start: 1rem;
}

.header {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: minmax(25%, 2fr) minmax(30%, 4fr);
  grid-template-areas: 'title links';
}

.header .title {
  grid-area: title;
}

.header .title * {
  white-space: nowrap;
}

.header .links {
  grid-area: links;
  justify-self: flex-end;
  margin-top: 20px;
}

.header .links li {
  white-space: nowrap;
}

.header .links img {
  width: 1.1rem;
  vertical-align: middle;
  margin-right: 0.5rem;
  filter: drop-shadow(3px 3px 3px #bebebe) saturate(0.2);
}

.experience .company {
  margin-top: 1.5rem;
}

.experience .company .name {
  white-space: nowrap;
  margin-bottom: 5px;
  color: #7d6a24;
  z-index: 1;
}

.experience .company >div {
  display: grid;
  grid-template-columns: minmax(25%, 2fr) minmax(30%, 4fr);
  grid-gap: 10px;
  grid-template-areas: 'summary details';
  grid-template-rows: max-content;
}

.experience .company >div .summary {
  grid-area: summary;
  display: flex;
  flex-direction: column;
  position: relative;
}

.experience .company >div .summary .name, .experience .company >div .summary .company-sector, .experience .company >div .summary .company-location, .experience .company >div .summary .role, .experience .company >div .summary .interval, .experience .company >div .summary .keywords {
  margin-right: 5px;
}

.experience .company >div .summary .company-sector, .experience .company >div .summary .company-location {
  font-size: x-small;
  line-height: 15px;
  margin-left: 2px;
  color: #a5a296;
}

.experience .company >div .summary .role {

}

.experience .company >div .summary .interval {

}

.experience .company >div .details {
  grid-area: details;
  text-align: justify;
  position: relative;
}

.experience .company >div .details ul {
  text-align: justify;
  list-style: circle;
  padding-inline-start: 1rem;
}

.experience .company >div .keywords {
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 20px;
  font-size: small;
}

.experience .company >div .keywords h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.thread-decor-h {
  background-image: linear-gradient(to right, hsla(0, 0%, 100%, 1.0) 0%, #f1d4a6 100%);
  height: 2px;
  position: absolute;
  width: 20%;
  right: 5px;
  top: 13px;
}

.thread-decor-v {
  width: 2px;
  background-color: #f1d4a6;
  position: absolute;
  height: calc(100% + 25px);
  top: 13px;
  left: -15px;
}

.company:nth-last-of-type(2) .thread-decor-v {
  background-image: linear-gradient(to bottom, #f1d4a6 0%, hsla(0, 0%, 100%, 1.0) 100%);
  height: calc(100% + 15px);
}

.thread-decor-h::after {
  content: ' ';
  width: 10px;
  height: 10px;
  background-color: #f1d4a6;
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 20px;
}

.prior-exp-not-provided {
  margin-top: 1.5rem;
}

.prior-exp-not-provided p {
  display: table;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.9rem;
  text-align: justify;
  color: #a5a296;
}

.institution {
  font-size: smaller;
}

.updated-date {
  float: right;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 6px;
  color: #a5a296;
}

@media print {

  body {
    background: none !important;
    font-size: 75%;
    max-width: 99%;
  }
  
  body .links li:not(:first-child) a {
    display: none;
  }
  
  
  
  body .links img {
    display: none;
  }
  
  body .header {
    margin-top: 0.5rem;
  }
  
  
  
  body .experience h2 {
    font-size: 1.3rem;
  }
  
  
  
  body .experience .company .name {
    font-size: 1rem;
  }
  
  body .pdf-link {
    display: none;
  }
  
  body .updated-date {
    display: none;
  }

}

@media only screen and (max-width: 800px) {

  body {
    max-width: 95%;
    width: 95%;
  }
  
  body .pdf-link {
    display: none;
  }
  
  body .header {
    margin-top: 0.5rem;
    grid-template-columns: minmax(25%, 2fr);
    grid-template-areas: 'title' 'links';
  }
  
  body .header .location {
    display: none;
  }
  
  body .header .links li:not(:first-child) a {
    display: none;
  }
  
  body .header .links {
    justify-self: flex-start;
    margin-top: 0;
  }
  
  body h2 {
    font-size: 1.5rem;
  }
  
  
  
  
  
  body .experience .company .name {
    white-space: pre-wrap;
    font-size: 1rem;
  }
  
  
  
  body .experience .summary .role, body .experience .summary .interval {
    font-size: 1rem;
  }

}

@media only screen and (min-width: 801px) and (max-width: 1800px) {

  body {
    max-width: 70%;
    width: 70%;
  }
  
  
  
  
  
  body .experience .company .name {
    white-space: pre-wrap;
    font-size: 1.3rem;
  }

}

@media only screen and (min-width: 1800px) {

  body {
    max-width: 40%;
    width: 40%;
  }
  
  
  
  
  
  .experience .company .name {
    font-size: 1.8rem;
  }

}